<wicket:panel>
    <p>This is a panel, and it supplied the following fragment markup, including the components:</p>
    <wicket:fragment wicket:id="componentsAndMarkupSupplyingForUnspecializedBody1">
        Components in external component, unspecialized fragment, fragment markup #1. At: <span wicket:id="currentTime"></span>
    </wicket:fragment>
    <wicket:fragment wicket:id="componentsAndMarkupSupplyingForUnspecializedBody2">
        Components in external component, unspecialized fragment, fragment markup #2. At: <span wicket:id="currentTime"></span>
    </wicket:fragment>
    <wicket:fragment wicket:id="componentsAndMarkupSupplyingForSpecializedBody1">
        Components in external component, specialized fragment, fragment markup #1. At: <span wicket:id="currentTime"></span>
    </wicket:fragment>
    <wicket:fragment wicket:id="componentsAndMarkupSupplyingForSpecializedBody2">
        Components in external component, specialized fragment, fragment markup #2. At: <span wicket:id="currentTime"></span>
    </wicket:fragment>
</wicket:panel>
