<!-- Searches for the fragments start at 1, so make sure there is at least 1 node before the fragments. -->
<wicket:fragment xmlns:wicket="http://wicket.apache.org" wicket:id="ownMarkupStandardFragmentVariant1">
    <p>
        Own markup, HTML markup fragment, variant 1: <span wicket:id="fragmentLabel"></span>
    </p>
</wicket:fragment>
<wicket:fragment xmlns:wicket="http://wicket.apache.org" wicket:id="ownMarkupStandardFragmentVariant2">
    <p>
        Own markup, HTML markup fragment, variant 2: <span wicket:id="fragmentLabel"></span>
    </p>
</wicket:fragment>
