<wicket:panel xmlns:wicket="http://wicket.apache.org">
    <p>This is a panel, and it supplied the following fragment markup:</p>
    <wicket:fragment wicket:id="noComponentsMarkupSupplyingForUnspecializedBody1">No components, unspecialized fragment, fragment markup #1</wicket:fragment>
    <wicket:fragment wicket:id="noComponentsMarkupSupplyingForUnspecializedBody2">No components, unspecialized fragment, fragment markup #2</wicket:fragment>
    <wicket:fragment wicket:id="noComponentsMarkupSupplyingForSpecializedBody1">No components, specialized fragment, fragment markup #1</wicket:fragment>
    <wicket:fragment wicket:id="noComponentsMarkupSupplyingForSpecializedBody2">No components, specialized fragment, fragment markup #2</wicket:fragment>
</wicket:panel>
