<!-- Searches for the fragments start at 1, so make sure there is at least 1 node before the fragments. -->
<wicket:fragment xmlns:wicket="http://wicket.apache.org" wicket:id="ownComponentsOwnMarkupBody1">
    Own components, specialized fragment, fragment markup #1. At: <span wicket:id="currentTime"></span>
</wicket:fragment>
<wicket:fragment xmlns:wicket="http://wicket.apache.org" wicket:id="ownComponentsOwnMarkupBody2">
    Own components, specialized fragment, fragment markup #2. At: <span wicket:id="currentTime"></span>
</wicket:fragment>
